@charset "UTF-8";

:root {
    --cor1: #7336EB;
    --cor2: #6bfa47;
    --cor3: rgb(43, 187, 7);
    --cor4: #ffffff;
    --cor5: #EA2979;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    background-color: var(--cor3);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    border-bottom: 1px solid var(--cor4);
}
/* Main page*/
div#first-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#first-line > * {
    display: inline-block;
}

header span#burguer {
    color: var(--cor2);
    text-shadow: 0px 0px 2px black;
    cursor: pointer;
    font-size: 20px;
}

div#logo {
    width: 75px;
}

div#dados {
    display: flex;
    flex-direction: column;
   /*align-items: center; - Colocar essa opção em media query para dispositivos maiores.*/
}

div#dados h2 {
    color: var(--cor2);
    text-shadow: 1px 1px 1px black;
}

div#dados span {
    color: var(--cor2);
    text-shadow: 0px 0px 2px black;
}

menu#nav {
    width: 100%;
    display: block;
    align-items: center;
}

menu#nav ul li {
    list-style-type: none;
    border-top: 1px solid var(--cor4);
    display: inline-block;
    /* O 5 dentro do parente principal e depois da divisão serve pra definir o tamanho dos itens dentro da barra de navegação*/
    width: calc((100% - ((5 - 1) * 3px)) / 5);
    box-sizing: border-box;
}
menu#nav ul li:last-child {
    margin-right: 0px;
}

menu#nav ul li a {
    display: block;
    text-align: center;
    padding: 3px;
    font-size: 0.8em;
    background-color: var(--cor3);
    color: var(--cor2);
    text-shadow: 0px 0px 2px black;
    text-decoration: none;
}

menu#nav ul li a:hover {
    background-color: #6bfa47;
    text-shadow: 0px 0px 6px black;
}

section#apresentacao {
    background-image: url(imagens/mesa-jantar.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 15px black;
}

div.text {
    background-color: #ffffffaf;
}

main section div h2 {
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 15px;
    font-size: 1em;
    width: 95px;
    text-indent: 0em;
}

main section#apresentacao div p {
    padding: 5px 15px;
    font-size: 0.8em;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.466);
}

.text {
    text-indent: 2em;
    text-align: justify;
    font-size: 0.8em;
}

section#telefone {
    display: flex;
    background-color: black;
    color: white;
    padding: 5px;
}

section#telefone div img{
    width: 100px;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6));
    margin-bottom: -20px;
}

section#telefone div p {
    text-align: center;
}

div.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#informacao {
    background-color: black;
    padding: 10px;
}

section#informacao div#funcionamento {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
}

section#informacao div#funcionamento h3 {
    text-align: justify;
    font-size: 1em;
}

section#informacao div#funcionamento p {
    font-size: 0.8em;
    text-align: justify;
    padding: 2.5px 0px;
}

section#informacao div#funcionamento ul li p strong {
    font-size: 1em;
}

section#informacao div#funcionamento ul li:first-child {
    padding-top: 15px;
}

section#informacao div#funcionamento ul li:last-child {
    padding-bottom: 15px;
}

section#informacao div#funcionamento ul li {
    list-style: none;
}

section#informacao div#funcionamento p.adpt {
    padding-top: 17.5px;
}

/* calculo page*/

main div#Calculadora {
    background-color: var(--cor3);
    display: block;
    margin: auto;
    padding: 35px;
    height: 350px;
    width: 850px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
}

main div#Calculadora div#imc {
    background-color: var(--cor2);
    width: 250px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px black;
}

main div#Calculadora div#imc p {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 15px;
}

main div#Calculadora div#imc button {
    font-size: 12px;
    background-color: var(--cor3);
    width: 100px;
    border-radius: 50px;
}
